<h1>Listing entries</h1>

<%= link_to 'New Entry', new_entry_path %>

<table>
  <tr>
    <th>Content</th>
    <th>Size</th>
    <th>Show</th>
    <th>Linked</th>
    <th>Edit</th>
    <th>X</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= truncate(entry.content, :length=>200, :separator => ' ') %></td>
    <td><%= entry.content.size %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Linked', '/entries/'+entry.id.to_s+'/showlinked/' %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'X', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
