<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

<p>
  <b>Content:</b><br>
  <%= @entry.content %>
</p>

<% for term in @entry.terms.order("name") %>
  <%= term.name %><br>
<% end %>
<br />
<br />

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
