<h1>Listing terms</h1>

<%= link_to 'New Term', new_term_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th>Edit</th>
    <th>X</th>
  </tr>

<% @terms.each do |term| %>
  <tr>
    <td><%= link_to term.name, term %></td>
    <td><%= term.count %></td>
    <td><%= link_to 'Edit', edit_term_path(term) %></td>
    <td><%= link_to 'X', term, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Term', new_term_path %>
