<p id="notice"><%= notice %></p>

<h3><%= @term.name %></h3>

<p>
  <ul>
  <% for entry in @entries %>
    <li>
    <%= link_to 'Entry', entry_path(entry) %> &nbsp; 
    <%= entry.get_context(@term.name).html_safe %>
    </li>
  <% end %>
  </ul>
</p>

<p>
Anzahl Artikel mit diesem Begriff:
<%= @term.entries.count %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
