
<div id="menu">
<div class="menutree">

<ul>
  <li>Entries</li>
  <ul>
    <li><%= link_to 'Index', entries_path %></li>
    <li><%= link_to 'New', new_entry_path %></li>
  </ul>
</ul>

<ul>
  <li>Terms</li>
  <ul>
    <li><%= link_to 'Index',  'terms/index' %></li>
    <li><%= link_to 'New',	  'terms/new' %></li>
  </ul>
</ul>

<% if false %>
<ul>
  <li>Terms</li>
  <ul>
    <li><%= link_to 'Index', terms_path %></li>
    <li><%= link_to 'New', new_term_path %></li>
  </ul>
</ul>
<% end %>

</div>
</div>